.container {
  width: 575px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-top: 80px;
  height: 240px;
  border-radius: 32px;
  background-color: #1b2029;
}

.title {
  font-size: 40px;
}

.divider {
  border: none;
  border-top: 1px solid #272d3a;
  margin: 40px 0;
}

.subtitle {
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}

.boards {
  display: flex;
  gap: 15px;
  margin: 24px 0 80px;
}

.resetButton {
  width: 157px;
  text-align: center;
  margin: 0 auto 198px;
}
