.container {
  width: 100%;
  height: 351px;
  border-radius: 32px;
  background-color: #272d3a;
}

.diceContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
  height: 172px;
  background-color: #1d222c;
  margin: 16px;
  border-radius: 16px;
}

.title {
  font-weight: 700;
  font-size: 24px;
}

.sumScore {
  text-align: center;
  margin: 20px 0;
  font-size: 32px;
  font-weight: 700;
}

.sumScore > span {
  font-size: 16px;
  font-weight: 500;
}

.history {
  border-radius: 16px;
  background-color: #323949;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 16px;
  margin: 16px;
  height: 70px;
}

.loser {
  opacity: 0.5;
}
